:root {
    --main-color: #749F82;
    --secondary-color: #e2e8f0;
    --hover-link: #a74f8a;
    --active-link: #881a63;
    --hover-button: #5e826a;
    --active-button: #425b4b;
    --title-font-size: 2rem;
    --body-font-size: 1.1rem;
    --flex-gap: 0.5rem;
  }
@font-face {
    font-family: body-font;
    src: url(fonts/Roboto-Regular.ttf);
  }

@font-face {
font-family: title-font;
src: url(fonts/Roboto-Black.ttf);
}

body {
    font-family: body-font;
    font-size: var(--body-font-size);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--flex-gap);
}

.header {
    font-family: title-font, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: var(--title-font-size);
}

.game-grid {
    display: grid;
    grid-template: repeat(3, 20vh) / repeat(3, 20vh);
    justify-items: center;
}

.game-grid > * {
    border: solid 1px;
    width: 100%;
}

.github {
    font-size: 1.5rem;
    height: 2rem;
    width:auto;
}

.github:hover {
    transform: rotate(720deg);
    transition: transform 1.5s;
}